In [1]:
import numpy as np
import pandas as pd

In [39]:
monthly_sales = pd.read_csv("monthly_sales.csv")
monthly_sales = monthly_sales.rename(columns={'Month, Year': 'Month-Year'})
monthly_sales.head()

,Month-Year,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
0,Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619
1,Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586
2,Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523
3,Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533
4,May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695

In [49]:
monthly_salesNE = monthly_sales[['Month-Year', 'HM-NE', 'CF-NE', 'FF-NE']].set_index('Month-Year').to_csv(path_or_buf='monthly_salesNE.csv')
monthly_salesSE = monthly_sales[['Month-Year', 'HM-SE', 'CF-SE', 'FF-SE']].set_index('Month-Year').to_csv(path_or_buf='monthly_salesSE.csv')
monthly_salesNW = monthly_sales[['Month-Year', 'HM-NW', 'CF-NW', 'FF-NW']].set_index('Month-Year').to_csv(path_or_buf='monthly_salesNW.csv')
monthly_salesSW = monthly_sales[['Month-Year', 'HM-SW', 'CF-SW', 'FF-SW']].set_index('Month-Year').to_csv(path_or_buf='monthly_salesSW.csv')
monthly_salesC = monthly_sales[['Month-Year', 'HM-C', 'CF-C', 'FF-C']].set_index('Month-Year').to_csv(path_or_buf='monthly_salesC.csv')

In [51]:
daily_sales = pd.read_csv('daily_sales.csv')
daily_by_day = daily_sales.groupby(['Unnamed: 0']).sum()

In [62]:
cols = ['HM-NE', 'HM-SE', 'HM-SW', 'HM-NW', 'HM-C']
hm = daily_by_day[cols]
hm_all = [hm[cols[0]][i] + hm[cols[1]][i] + hm[cols[2]][i] + hm[cols[3]][i] + hm[cols[4]][i] for i in range(7)]
hm['All_US_' + cols[0][:2]] = hm_all
hm2 = hm.drop(columns=cols)
hm3 = hm2.reset_index()
beep = hm3['Unnamed: 0']
hm4 = hm3.drop(columns=['Unnamed: 0'])
hm4['Day_of_Week'] = beep
temp = hm4['All_US_HM']
hm4 = hm4.drop(columns=['All_US_HM'])
hm4['All_US_HM'] = temp
hm4

/Users/jillianheller/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

  Day_of_Week  All_US_HM
0      Friday     909605
1      Monday     725474
2    Saturday     901832
3      Sunday     897282
4    Thursday     717869
5     Tuesday     721367
6   Wednesday     725219

In [65]:
cols = ['CF-NE', 'CF-SE', 'CF-SW', 'CF-NW', 'CF-C']
hm = daily_by_day[cols]
hm_all = [hm[cols[0]][i] + hm[cols[1]][i] + hm[cols[2]][i] + hm[cols[3]][i] + hm[cols[4]][i] for i in range(7)]
hm['All_US_' + cols[0][:2]] = hm_all
hm2 = hm.drop(columns=cols)
hm3 = hm2.reset_index()
beep = hm3['Unnamed: 0']
hm5 = hm3.drop(columns=['Unnamed: 0'])
hm5['Day_of_Week'] = beep
hm7 = hm4.merge(hm5)

/Users/jillianheller/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [66]:
cols = ['FF-NE', 'FF-SE', 'FF-SW', 'FF-NW', 'FF-C']
hm = daily_by_day[cols]
hm_all = [hm[cols[0]][i] + hm[cols[1]][i] + hm[cols[2]][i] + hm[cols[3]][i] + hm[cols[4]][i] for i in range(7)]
hm['All_US_' + cols[0][:2]] = hm_all
hm2 = hm.drop(columns=cols)
hm3 = hm2.reset_index()
beep = hm3['Unnamed: 0']
hm6 = hm3.drop(columns=['Unnamed: 0'])
hm6['Day_of_Week'] = beep
sales_by_day = hm7.merge(hm6)

/Users/jillianheller/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [67]:
sales_by_day

  Day_of_Week  All_US_HM  All_US_CF  All_US_FF
0      Friday     909605     379496     263834
1      Monday     725474     308175     179006
2    Saturday     901832     369303     200532
3      Sunday     897282     384179     201411
4    Thursday     717869     303620     193430
5     Tuesday     721367     302101     176625
6   Wednesday     725219     305797     184822

In [69]:
sales_by_day.set_index('Day_of_Week').to_csv(path_or_buf='sales_by_day.csv')